<!--server/vies/list.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/business-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Business Contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th>Contact Name</th>
                        <th>Contact Number</th>
                        <th>Email ID</th>
                        <th></th>
                        <th></th>
                    <% } else { %>
                        <th>Contact Name</th>
                        <th>Contact Number</th>
                        <th>Email ID</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td><%= BusinessList[count].name %></td>
                            <td><%= BusinessList[count].number %></td>
                            <td><%= BusinessList[count].email %></td>            
                            <td><a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td>
                                <a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td><%= BusinessList[count].name %></td>
                            <td><%= BusinessList[count].number %></td>
                            <td><%= BusinessList[count].email %></td>      
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





